body {
	padding: 0px;
	margin: 0px;
}

div {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;
	color: #404040;
	font-family: Arial, Sans-Serif;
	font-weight: normal;
}

h1 {
	font-size: 28px;
}

a {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	text-decoration: none;
	color: #00cc00;
	font-family: Arial, Sans-Serif;
	font-weight: normal;
}

div.main-content {
	max-width: 700px;
	padding: 50px 50px;
	margin: 0 auto;
}

a.button {
	max-width: 250px;
	height: 50px;
	display: inline-block;
	background-color: #b3ffb3;
}

img.button {
	max-width: 250px;
	height: 50px;
	display: inline-block;
}

a.button.logo-home-main {
	width: 50px;
	height: 50px;
}

a.button.logo-home-main img.button.logo-home-main {
	width: 50px;
	height: 50px;
}

footer {
	padding: 50px 50px;
	background-color: #b3ffb3;
}












